{% extends ":templates:box-with-footer.html.twig" %}

{% block title %}{{ "user.profile.lost_password.title" | trans }}{% endblock %}
{% block box_title %}{{ "user.profile.lost_password.title" | trans }}{% endblock %}



{% block fos_user_content %}

    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST"
          class="fos_user_resetting_request form-horizontal">
        <div class="box-body">
            {% if invalid_username is defined %}
                <p>{{ 'user.resetpassword.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
            {% endif %}

            <div class="form-group">
                <label class="col-sm-4 control-label required"
                       for="username">{{ 'user.username'|trans }}</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="username" name="username" required="required"/>
                </div>
            </div>

        </div>
        <div class="box-footer">
            <input type="submit" class="btn btn-info pull-right"
                   value="{{ 'user.resetpassword.request.submit'|trans }}"/>
        </div>
    </form>

    </div><!-- /.box -->

{% endblock %}
