{% extends ":templates:box.html.twig" %}

{% block box_title %}{{ "layout.student.list" | trans }}{% endblock %}

{% block box_actions %}
    <a href="{{ path('student_management_new') }}" id="_add" class="btn btn-primary">
        <i class="glyphicon glyphicon-plus"></i>
        {{ "layout.student.add" | trans }}
    </a>
    <a href="{{ path('student_management_import') }}" id="_import" class="btn btn-primary">
        <i class="glyphicon glyphicon-plus"></i>
        {{ "layout.student.import" | trans }}
    </a>
{% endblock %}

{% block box_body_content %}
    {{ datatable_render_html(datatable) }}
{% endblock %}

{% block javascripts %}
    <script>
        $ = jQuery;
    </script>
    {{ datatable_render_js(datatable) }}
{% endblock %}
