{% if is_granted("ROLE_COORDINATOR") %}
<li class="header">{{ "user.roles.coordinator" | trans }}</li>
<li>
    <a href="{{ path('user_management_list') }}">
        <i class="fa fa-users"></i>
        <span>{{ "layout.user.list" | trans }}</span>
    </a>
</li>
<li>
    <a href="{{ path('student_management_list') }}">
        <i class="fa fa-users"></i>
        <span>{{ "layout.student.list" | trans }}</span>
    </a>
</li>
<li>
    <a href="{{ path('course_content_index') }}">
        <i class="fa fa-users"></i>
        <span>{{ "layout.courses.content.list.title" | trans }}</span>
    </a>
</li>

{% endif %}
