{% if is_granted("ROLE_COORDINATOR") %}
    <li class="header">{{ "user.role.coordinator" | trans }}</li>
    <li>
        <a href="{{ path('cms_page_index') }}">
            <i class="fa fa-file-text"></i>
            <span>{{ "cms.page.list.title" | trans }}</span>
        </a>
    </li>
    <li>
        <a href="{{ path('user_user_index') }}">
            <i class="fa fa-users"></i>
            <span>{{ "user.list.title" | trans }}</span>
        </a>
    </li>
    <li>
        <a href="{{ path('user_student_index') }}">
            <i class="fa fa-graduation-cap"></i>
            <span>{{ "user.student.list.title" | trans }}</span>
        </a>
    </li>
    <li>
        <a href="{{ path('course_content_index') }}">
            <i class="fa fa-book"></i>
            <span>{{ "course.content.list.title" | trans }}</span>
        </a>
    </li>
    <li>
        <a href="{{ path('course_grade_index') }}">
            <i class="fa fa-graduation-cap"></i>
            <span>{{ "course.grade.list.title" | trans }}</span>
        </a>
    </li>
    <li>
        <a href="{{ path('course_gradeclass_index') }}">
            <i class="fa fa-graduation-cap"></i>
            <span>{{ "course.gradeclass.list.title" | trans }}</span>
        </a>
    </li>
    <li>
        <a href="{{ path('course_lesson_index') }}">
            <i class="fa fa-calendar"></i>
            <span>{{ "course.lesson.list.title" | trans }}</span>
        </a>
    </li>

{% endif %}
