{% extends ":templates:box.html.twig" %}

{% block box_title %}{{ "layout.user.list" | trans }}{% endblock %}

{% block box_actions %}
    <a href="{{ path('user_management_new') }}" id="_add" class="btn btn-primary">
        <i class="glyphicon glyphicon-plus"></i>
        {{ "layout.user.add" | trans }}
    </a>
{% endblock %}

{% block box_body_content %}
    {{ datatable_render_html(datatable) }}
{% endblock %}

{% block javascripts %}
    <script>
        $ = jQuery;
    </script>
    {{ datatable_render_js(datatable) }}
{% endblock %}
