{% extends ":templates:register.html.twig" %}

{% block title %}
    {{ "user.register.choose_role.title" | trans }}
{% endblock %}


{% block box_body %}
    <p class="login-box-msg">{{ "user.register.choose_role.title" | trans }}</p>

    <p>{{ "user.register.please_choose_an_account_type" | trans }}</p>

    <ul class="list-unstyled">
        <li>
            <a href="{{ path("user_security_register", {role: "coordinator"}) }}" id="_coordinator"
               class="btn btn-default">
                {{ "user.role.coordinator" | trans }}
            </a>
        </li>
        <li>
            <a href="{{ path("user_security_register", {role: "teacher"}) }}" id="_teacher" class="btn btn-default">
                {{ "user.role.teacher" | trans }}
            </a>
        </li>
        <li>
            <a href="{{ path("user_security_register", {role: "titular"}) }}" id="_titular" class="btn btn-default">
                {{ "user.role.titular" | trans }}
            </a>
        </li>
        <li>
            <a href="{{ path("user_security_register", {role: "course_titular"}) }}" id="_course_titular"
               class="btn btn-default">
                {{ "user.role.course_titular" | trans }}
            </a>
        </li>
        <li>
            <a href="{{ path("user_security_register", {role: "parent"}) }}" id="_parent" class="btn btn-default">
                {{ "user.role.parent" | trans }}
            </a>
        </li>
    </ul>
{% endblock %}
