{% extends 'base.html.twig' %}

{% block body %}
    <h1>CourseContent list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for courseContent in courseContents %}
            <tr>
                <td><a href="{{ path('course_content_show', { 'id': courseContent.id }) }}">{{ courseContent.id }}</a></td>
                <td>{{ courseContent.name }}</td>
                <td>{% if courseContent.createdAt %}{{ courseContent.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if courseContent.updatedAt %}{{ courseContent.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('course_content_show', { 'id': courseContent.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('course_content_edit', { 'id': courseContent.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('course_content_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
