{% extends ':templates:box.html.twig' %}


{% block title %}{{ "course.content.show.title" | trans }}{% endblock %}
{% block box_title %}{{ "course.content.show.title" | trans }}{% endblock %}

{% block box_actions %}
    {{ action.back('course.content.back_to_list' | trans, 'course_content_index') }}
    {{ action.edit('course.content.edit', 'course_content_edit', courseContent.id) }}
    {{ action.delete('course.content.delete' | trans, delete_form) }}
{% endblock %}


{% block box_body_content %}

    <table>
        <tbody>
        <tr>
            <th>{{ 'course.content.id' | trans }}</th>
            <td>{{ courseContent.id }}</td>
        </tr>
        <tr>
            <th>{{ 'course.content.name' | trans }}</th>
            <td>{{ courseContent.name }}</td>
        </tr>

        </tbody>
    </table>
{% endblock %}
