{% macro back(label, route) %}
    <a class="btn btn-default" id="_back" href="{{ path(route) }}">
        <i class="fa fa-arrow-left"></i>
        {{ label }}
    </a>
{% endmacro %}

{% macro new(label, route) %}
    <a class="btn btn-primary" id="_add" href="{{ path(route) }}">
        <i class="fa fa-plus"></i>
        {{ label }}
    </a>
{% endmacro %}

{% macro getCards(label, route) %}
    <a class="btn btn-success" id="_getCards" href="{{ path(route) }}">
        <i class="fa fa-download"></i>
        {{ label }}
    </a>
{% endmacro %}

{% macro import(label, route) %}
    <a class="btn btn-primary" id="_import" href="{{ path(route) }}">
        <i class="fa fa-upload"></i>
        {{ label }}
    </a>
{% endmacro %}

{% macro save(label) %}
    <button type="submit" id="_save" class="btn btn-primary pull-right">
        <i class="fa fa-save"></i>
        {{ label }}
    </button>
{% endmacro %}

{% macro import_save(label) %}
    <button type="submit" id="_import" class="btn btn-primary">
        <i class="fa fa-upload"></i>
        {{ label }}
    </button>
{% endmacro %}

{% macro edit(label, route, id) %}
    <a class="btn btn-primary" id="_edit" href="{{ path(route, {"id": id}) }}">
        <i class="fa fa-edit"></i>
        {{ label }}
    </a>
{% endmacro %}

{% macro delete(label, delete_form) %}
    {{ form_start(delete_form) }}
    <button type="submit" id="_delete" class="btn btn-danger">
        <i class="fa fa-trash"></i>
        {{ label | trans }}
    </button>
    {{ form_end(delete_form) }}
{% endmacro %}
