{% extends ":templates:login.html.twig" %}


{% block title %}
    {{ "user.login.title" | trans }}
{% endblock %}

{% block box_body %}
    <form action="{{ path("user_security_login") }}" class="form-horizontal" method="post">

        <p class="login-box-msg">
            <strong>{{ "user.login.title" | trans }}</strong>
        </p>

        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error.messageKey | trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

        <div class="form-group">
            <label class="sr-only" for="username">
                {{ 'user.login.username' | trans }}
            </label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-user"></i>
                </div>
                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}"
                       required="required" placeholder="{{ 'user.login.username' | trans }}"/>
            </div>
        </div>

        <div class="form-group">
            <label class="sr-only" for="password">
                {{ 'user.login.password' | trans }}
            </label>
            <div class="input-group">
                <div class="input-group-addon">
                    <i class="fa fa-key"></i>
                </div>

                <input type="password" class="form-control" id="password" name="_password" required="required"
                       placeholder="{{ 'user.login.password' | trans }}"/>
            </div>
        </div>

        <div class="form-group">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
            <label for="remember_me">{{ 'user.login.remember_me' | trans }}</label>
        </div>

        <div class="form-group">
            <div class="col-xs-6">
                <a href="{{ path('user_security_resetting_request') }}" class="btn btn-default">
                    {{ 'user.lost_password' | trans }}
                </a>
            </div>

            <div class="col-xs-6">
                <input type="submit" class="btn btn-info pull-right" id="_submit" name="_submit"
                       value="{{ 'user.login.submit' | trans }}"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-6">
                <a href="{{ path('user_security_register') }}">{{ "user.register.create_account" | trans }}</a>
            </div>

            <div class="col-xs-6">
                <a href="{{ path('student_security_login') }}" class="pull-right">
                    {{ 'user.iam_a_student' | trans }}
                </a>
            </div>
        </div>


    </form>
{% endblock %}
